$color_button_email: #fff;
$color_bg_button_email: #F16D7F;
$background_color_header: #222;
$text_7_9_color: #FFF;
$text_8_10_color: #f16d7f;
$background_grid_info_text: #f8f8f8;
$color_price: #f16d7f;